@model IEnumerable<MoviesApp2.Models.Review>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
@*            @Html.DisplayFor(modelItem => formatGrade(item.Grade))*@
            @formatGrade(item.Grade)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>


@helper formatGrade(Int32 grade) {
var color = "#13f713"; // zielony

    if (grade == 3)
    {
        color = "#ff5900"; // pomaranczowy
    }
else if (grade < 3)
{
    color = "#ff3232"; // czerowny
}
    <span style="color:@color"> @String.Format("{0}", grade) </span>
}

